{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="row justify-content-center">
<div class="col-md-auto">
    <div class="card mt-5 mb-5">
        <div class="text-center card-header">

            <h3>{% trans "Sign Up" %}</h3>

            <p>{% blocktrans %}Welcome back to the BOCHE Restaurant.{% endblocktrans %}</p>

        </div>
    <!-- Get individual signup fields so as to be able to use bootstrap on them -->
        <div class="card-body ">
            
            <form class="login" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
            <div class="text-center">
                {{ form.non_field_errors }}
                <div class="mb-3 form-outline">
                    {{ form.username.errors }}
                    {{ form.username }}
                </div>
                <div class="mb-3 form-outline">
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>
                <div class="mb-3 form-outline">
                    {{ form.password1.errors }}
                    {{ form.password1 }}
                </div>
                <div class="mb-3 form-outline">
                    {{ form.password2.errors }}
                    {{ form.password2 }}
                </div>
            </div>
                <div class="col align-self-start">
                    <ul class="list-unstyled">
                        <li>Don't put personal information in your password.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>


                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="col-md-auto text-center">
                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
                </div>

            </form>
        </div>
        
        <div class="card-footer">
            <span class="helptext">If you already have an account <a href="/accounts/login">Sign In</a></span>
        </div>
    </div>
</div>
</div>

{% endblock content %}
