.container>.carousel {
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 100%;
}

/* Reservations */
.my_reservation {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.reasons {
    text-align: center;
    margin-top: 5vh;
}

.cards>.row>.col-xl-4 {
    background-color: rgb(236, 232, 227);
    border: 1px solid;
    margin-right: auto;
    margin-bottom: 1vh;

}

.container-lg>.row>.col-xl-6 {
    background-color: rgb(236, 232, 227);
    border: 1px solid;
    margin-right: auto;
    margin-bottom: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.col-xl-4>h5 {
    text-align: center;
}

.add_reservation {
    text-align: center;
    margin: 5vh;
}


.food,.smoothies,.juice{
    text-align: center;
    color: lightslategray;
    margin-top: 3vh;
}

.menu>.row>.col-4{
    background-color: rgb(236, 232, 227);
    border: 1px solid;
    margin-right: auto;
}

.menu{
    margin-bottom: 2vh;
}