{% extends "base.html" %} {% load static %} {% block content %}
<div class="add_reservation">
    <h2>Add Reservation</h2>
    <p>
        Make your reservations here please. We are only able to offer you and the community the 
    </p>
    <p>
        best of our services if you reserve early enough. At BOCH the customer is the king!!!!!
    </p>
</div>
<div class="d-flex justify-content-center">
    <div class="row g-3">
        {% if messages %}
            <ul class="messages bg-danger">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <form method="POST" action="">
      {% csrf_token %}
      <!-- <div class="form-group">{{ form.as_table }}</div> -->
    <div class="container-lg">
    <div class="row">
      {{ form.non_field_errors }}
      <div class="col-xl-6">
        {{ form.reservation_name.errors }}
        <label for="{{ form.reservation_name.id_for_label }}">Name:</label>
        {{ form.reservation_name }}
      </div>
      <div class="col-xl-6">
        {{ form.reservation_email.errors }}
        <label for="{{ form.reservation_email.id_for_label }}">Email:</label>
        {{ form.reservation_email }}
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        {{ form.phone_number.errors }}
        <label for="{{ form.phone_number.id_for_label }}">Phone:</label>
        {{ form.phone_number }}
      </div>
    
      <div class="col-xl-6">
        {{ form.number_people.errors }}
        <label for="{{ form.number_people.id_for_label }}"
          >Number of People:</label
        >
        {{ form.number_people }}
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        {{ form.reservation_date.errors }}
        <label for="{{ form.reservation_date.id_for_label }}">Date:</label>
        {{ form.reservation_date }}
      </div>

      <div class="col-xl-6">
        {{ form.reservation_time.errors }}
        <label for="{{ form.reservation_time.id_for_label }}">Time:</label>
        {{ form.reservation_time }}
      </div>
    </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Reserve</button>
    </div>
    </form>
</div>

{% endblock %}
