{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div>
      <h5>Cancel Reservation</h5>
    </div>
    <span>Reservation by {{ reservation }}</span>
    <hr />
    <form method="POST">
      {% csrf_token %}
      <span>Are you sure you want to cancel this reservation?</span>
      <div class="text-center">
        <input type="submit" class="btn btn-danger" value="Delete" />
      </div>
      <div class="text-center"></div>
    </form>
  </div>
</div>
{% endblock %}
