{% extends "base.html" %} {% load static %} {% block content %}

<div container>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="{% static 'reservation/images/home.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>BOCH Restarant</h5>
          <p>Just the perfect taste</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'reservation/images/home1.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>BOCH Restarant</h5>
          <p>Share with your friends and family.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'reservation/images/home2.jpg' %}"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>BOCH Restarant</h5>
          <p>The beauty you deserve.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class="reasons">Why BOCHE Restarant</h2>
  <div class="container-lg cards">
    <div class="row">
      <div class="col-xl-4">
        <h5>Daily Meals</h5>
        <p>
          Are you planning to have a lovely meal with friends or family
          outdoors? We are happy to make breakfast lunch and supper for you. All
          you need to do is make a reservation today.
        </p>
      </div>
      <div class="col-xl-4">
        <h5>Availability</h5>
        <p>
          We are are open every day so you do not have to worry about cooking.
          You can even make orders and pick them up later. However there is
          enough room if you want to spend some time out of home.
        </p>
      </div>
      <div class="col-xl-4">
        <h5>Customer Service</h5>
        <p>
          A respectful and fast customer service to meet up with the needs of
          every client. So you that you can enjoy every second of you time spent
          at BOCH. You just need to make a request.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
