{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid">
    <h4 class="my_reservation">BOCHE Restaurants Menu</h4>
</div>
<!-- Use grid from bootstrap to display our menu -->
<div class="menu">
<h5 class="food">FOOD</h5>
<div class="row">
    <div class="col-4">
        <h6>UMAMI CABBAGE GF DF VG</h6>
        <p>
            Grilled Roasted Cabbage served with vegan umami butter, scallions,
            pumpkin, nori, roasted hazelnuts, candlenut, sesame
            seeds and microgreens.
        </p>
    </div>
    <div class="col-4">
        <h6>HASH STACK GF DF VG</h6>
        <p>
            Golden hash brown with fresh garlic sauteed spinach, baked tomatoes,
            avocado, lettuce, microgreens served with pesto
            dressing and roasted seeds.
        </p>
    </div>
    <div class="col-4">
        <h6>GRILLED PRAWNS</h6>
        <p>
            Marinated Prawns with avocado salad served with saffron lime butter
             sauce and sweet potato fries.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h6>SEAFOOD NASI GORENG GF</h6>
        <p>
            Classic Seafood Indonesian Nasi goreng, fried rice, calamari, shrimp
             and fishcake.
        </p>
    </div>
    <div class="col-4">
        <h6>CATCH OF THE DAY</h6>
        <p>
            Seared fish filet, avocado salad, coriander, sweet potato fries.
        </p>
    </div>
    <div class="col-4">
        <h6>TOUR DE LOMBOK GF</h6>
        <p>
            Taliwang flavored Mahi Mahi, tempe, beetroot rice, broccoli, lombok 
            beans, red cabbage, fried spinach leaves, sambal and
            tempe crackers.
        </p>
    </div>
</div>

<h5 class="smoothies">SMOOTHIES</h5>
<div class="row">
    <div class="col-4">
        <h6>HOLY MORINGA</h6>
        <p>
            Garden picked moringa, coconut meat, coconut water, turmeric, 
            banana and cinnamon, lime 
        </p>
    </div>
    <div class="col-4">
        <h6>WAKE UP</h6>
        <p>
            Espresso shot (optional), frozen banana, plant milk, peanut butter, 
            cacao, dates, pinch of Himalaya salt.
        </p>
    </div>
    <div class="col-4">
        <h6>YELLOW FELLA</h6>
        <p>
            Pineapple, banana, tangerine, fresh mint
        </p>
    </div>
</div>
<H5 class="juice">JUICE</H5>
<div class="row">
    <div class="col-4">
        <h6>BEAUTY</h6>
        <P>
            Apple, cucumber, lime, mint
        </P>
    </div>
    <div class="col-4">
        <h6>BEET ME UP</h6>
        <p>
            Carrot, ginger, apple, beetroot, tangerine
        </p>
    </div>
    <div class="col-4">
        <h6>CLEANSE</h6>
        <p>
            Pineapple, spinach, parsley, celery, lime
        </p>
    </div>
</div>
</div>
{% endblock %}