<div class="container-lg cards">
    <div class="row">
        <div class="col-xl-4">
            <h5>Daily Meals</h5>
            <p>
                Are you planning to have a lovely meal with friends or family
                outdoors? We are happy to make breakfast lunch and supper for you. All
                you need to do is make a reservation today.
            </p>
        </div>
        <div class="col-xl-4">
            <h5>Availability</h5>
            <p>
                We are are open every day so you do not have to worry about cooking.
                You can even make orders and pick them up later. However there is
                enough room if you want to spend some time out of home.
            </p>
        </div>
        <div class="col-xl-4">
            <h5>Customer Service</h5>
            <p>
                A respectful and fast customer service to meet up with the needs of
                every client. So you that you can enjoy every second of you time spent
                at BOCH. You just need to make a request.
            </p>
        </div>
    </div>
</div>